<div class="modal fade" id="donationModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form method="post" action="/users/donate">
                    <div id="quantityContainer">
                        <div class="form-group text-center">
                            <span><b>Quantia</b></span>
                        </div>
                        <div class="form-group text-center">
                            <input type="number" name="amount" min="1" required>
                        </div>
                        <div class="form-row">
                            <div class="col-sm-6">
                                <button type="button" class="btn btn-block btn-secondary" data-dismiss="modal"><%= __('FECHAR') %></button>
                            </div>
                            <div class="col-sm-6">
                                <button type="button" class="goToCategory btn btn-primary btn-block"><%= __('SEGUINTE') %></button>
                            </div>
                        </div>
                    </div>
                    <div id="categoryContainer" style="display:none">
                        <div class="form-group text-center">
                            <span><b><%= __('CATEGORIA') %></b></span>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-12 text-left">
                                <input type="radio" name="category"  value="null" checked><%= __('TODOS') %><br>
                            </div>
                            <div class="form-group col-sm-6 text-left">
                                <% for(var i = 0; i < categories.length/2;i++){ %>
                                <input type="radio" name="category" value="<%=categories[i]%>"><%=categories[i]%><br>
                                <%}%>
                            </div>
                            <div class="form-group col-sm-6 text-left">
                                <% for(var i = categories.length/2; i < categories.length;i++){ %>
                                <input type="radio" name="category" value="<%=categories[i]%>"><%=categories[i]%><br>
                                <%}%>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-sm-6">
                                <button type="button" class="goToQuantity btn btn-primary btn-block"><%= __('ANTERIOR') %></button>
                            </div>
                            <div class="col-sm-6">
                                <button type="button" class="goToLocation  btn-primary btn btn-block"><%= __('SEGUINTE') %></button>
                            </div>
                        </div>
                    </div>
                    <div id="locationContainer" style="display:none">
                        <div class="form-group text-center">
                            <span><b><%= __('LOCALIZACAO') %></b></span>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-12 text-left">
                                <input type="radio" name="location"  value="null" checked><%= __('TODOS') %><br>
                            </div>
                            <div class="form-group col-sm-6 text-left">
                                <% for(var i = 0; i < locations.length/2;i++){ %>
                                <input type="radio" name="location" value="<%=locations[i]%>"><%=locations[i]%><br>
                                <%}%>
                            </div>
                            <div class="form-group col-sm-6 text-left">
                                <% for(var i = locations.length/2; i < locations.length;i++){ %>
                                <input type="radio" name="location" value="<%=locations[i]%>"><%=locations[i]%><br>
                                <%}%>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-sm-6">
                                <button type="button" class="goToCategory btn btn-primary btn-block"><%= __('ANTERIOR') %></button>
                            </div>
                            <div class="col-sm-6">
                                <button <%if(userLogged){ %>id="nextBtn1"<% } else {%> id="authenticateBtn1" <%}%>
                                class="btn btn-primary btn-block" type="button"><%= __('SEGUINTE') %></button>
                            </div>
                        </div>
                    </div>

                    <div id="checkDonationContainer1" style="display:none">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <div class="form-group text-center">
                            <h3><%= __('CONCLUIR_DOACAO') %></h3>
                        </div>
                            <div class="form-group text-center">
                                <h2><b><%= __('METODOS_PAGAMENTO') %></b></h2>
                            </div>
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-block btn-primary">PayPal</button>
                            </div>
<<<<<<< HEAD
                        </div>
                    </div>
                    <div id="paymentContainer1" style="display:none">
                        <div class="form-group text-center">
                            <h2>Métodos de Pagamento</h2>
                        </div>
                        <div class="form-group text-center">
                        <div id="paypal-button-container"></div>

                            <script>
                                paypal.Button.render({

                                    env: 'sandbox', // sandbox | production

                                    // Show the buyer a 'Pay Now' button in the checkout flow
                                    commit: true,

                                    // payment() is called when the button is clicked
                                    payment: function() {

                                        // Set up a url on your server to create the payment
                                        var CREATE_URL = '/demo/checkout/api/paypal/payment/create/';

                                        // Make a call to your server to set up the payment
                                        return paypal.request.post(CREATE_URL)
                                            .then(function(res) {
                                                return res.paymentID;
                                            });
                                    },

                                    // onAuthorize() is called when the buyer approves the payment
                                    onAuthorize: function(data, actions) {

                                        // Set up a url on your server to execute the payment
                                        var EXECUTE_URL = '/demo/checkout/api/paypal/payment/execute/';

                                        // Set up the data you need to pass to your server
                                        var data = {
                                            paymentID: data.paymentID,
                                            payerID: data.payerID
                                        };

                                        // Make a call to your server to execute the payment
                                        return paypal.request.post(EXECUTE_URL, data)
                                            .then(function (res) {
                                                window.alert('Payment Complete!');
                                            });
                                    }

                                }, '#paypal-button-container');
                            </script>
                            <button type="submit" class="btn btn-block btn-primary">Paypalee</button>
                        </div>
=======
>>>>>>> 4c19f49c175c1438226447899ff79db6acee2a73
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>