<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
<% include ../partials/header %>
<div class = "container container-background text-dark">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center"><span class="bigFont"><%= __('TOTAL') %></span></h1>
        </div>

        <div class="col-12">
            <h1 class="text-center"><span class="mediumFont">1.123.123 €</span></h1>
        </div>

        <div class="col-12 text-center">
            <img src="/images/moneyBag.png" id="moneyBag">
        </div>

        <div class="col-md-6">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-center"><%= __('CONTRIBUIDORES') %></h1>
                </div>
                <div class="col-12">
                    <h1 class="text-center"><span class="bigFont">01234</span></h1>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-center"><%= __('ASSOCIACOES') %></h1>
                </div>
                <div class="col-12">
                    <h1 class="text-center"><span class="bigFont">56789</span></h1>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 text-center">
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#donationModal">
                Quero Ajudar
            </button>
        </div>
        <div class="col-12">
            </br>
            <h1 class="text-center"><span class="bigFont"><%= __('ESTE_MES') %></span></h1>
        </div>
        <div class="col-12 col-md-4 text-center rightBorder">
            <h1 class="text-center"><%= __('TOTAL_MES') %></h1>
            <h1 class="text-center">420 €</h1>
        </div>
        <div class="col-6 col-md-4 text-center rightBorder">
            <h1 class="text-center"><%= __('CONTRIBUIDORES_MES') %></h1>
            <h1 class="text-center">86</h1>
        </div>
        <div class="col-6 col-md-4 text-center">
            <h1 class="text-center"><%= __('ASSOCIACOES_MES') %></h1>
            <h1 class="text-center">86</h1>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-12">
                    <a class="paddingBottom"></a>
                    <a class="paddingBottom"></a>
                    <a class="paddingBottom"></a>
                </br>
                    <h1 class="text-center"><span class="bigFont"><%= __('PREMIOS') %></span></h1>
                </div>
                <div class="col-12">
                    <p class="text-center"><%= __('PREMIOS_TEXT') %></p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-12 text-center">
                    <img src="/images/ps4.png" id="img-prize">
                </div>
            </div>
        </div>

        <div class="col-12">
            <a class="paddingTop"></a>
            <a class="paddingTop"></a>
            <h1 class="text-center"><%= __('PARCEIROS') %></h1>
            </br>
        </div>

        <div class="col-6 col-md-3 text-center">
            <img src="/images/partners/portoLogo.svg" class="partners">
        </div>
        <div class="col-6 col-md-3 text-center">
            <img src="/images/partners/scaleUpLogo.svg" class="partners">
        </div>
        <div class="col-6 col-md-3 text-center">
            <img src="/images/partners/alientechLogo.svg" class="partners">
        </div>
        <div class="col-6 col-md-3 text-center">
            <img src="/images/partners/blipLogo.svg" class="partners">
        </div>
        <a class="paddingTop"></a>
    </div>
</div>
<% include ../partials/footer %>
</body>
</html>