<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
<% include ../partials/header %>
<div class = "container container-background text-dark">


    <div class="row">

        <div class="col-12">
            <h1 class="text-center"><%= __('TOTAL') %></h1>
        </div>

        <div class="col-12">
            <h1 class="text-center">1.123.123 €</h1>
        </div>

        <div class="col-12 text-center">
            <img src="/images/moneyBag.png" id="moneyBag">
        </div>

        <div class="col-md-6">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-center"><%= __('CONTRIBUIDORES') %></h1>
                </div>
                <div class="col-12">
                    <h1 class="text-center">123</h1>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-center"><%= __('ASSOCIACOES') %></h1>
                </div>
                <div class="col-12">
                    <h1 class="text-center">67890</h1>
                </div>
            </div>
        </div>
        <div class="col-12 text-center">
            <button type="button" class="btn btn-primary btn-lg"><%= __('QUERO_AJUDAR') %></button>
        </div>

        <div class="col-12">
            <h1 class="text-center"><%= __('ESTE_MES') %></h1>
        </div>

        <div class="col-12 col-md-4 text-center rightBorder">
            <h1 class="text-center"><%= __('TOTAL_MES') %></h1>

            <h1 class="text-center">420 €</h1>

        </div>

        <div class="col-6 col-md-4 text-center rightBorder">
            <h1 class="text-center"><%= __('CONTRIBUIDORES_MES') %></h1>
            <h1 class="text-center">86</h1>
        </div>
        <div class="col-6 col-md-4 text-center">
            <h1 class="text-center"><%= __('ASSOCIACOES_MES') %></h1>
            <h1 class="text-center">86</h1>
        </div>

        <div class="col-md-6">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-center"><%= __('PREMIOS') %></h1>
                </div>
                <div class="col-12">
                    <p class="text-center"><%= __('PREMIOS_TEXT') %></p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-12 text-center">
                    <img src="/images/ps4.png" class="img-fluid">
                </div>
            </div>
        </div>

        <div class="col-12">
            <h1 class="text-center"><%= __('PARCEIROS') %></h1>
        </div>

        <div class="col-6 col-md-3 text-center">
            <img src="/images/partners/portoLogo.svg" class="partners">
        </div>
        <div class="col-6 col-md-3 text-center">
            <img src="/images/partners/scaleUpLogo.svg" class="partners">
        </div>
        <div class="col-6 col-md-3 text-center">
            <img src="/images/partners/alientechLogo.svg" class="partners">
        </div>
        <div class="col-6 col-md-3 text-center">
            <img src="/images/partners/blipLogo.svg" class="partners">
        </div>

    </div>
</div>
<% include ../partials/modal %>
<% include ../partials/footer %>
<!-- <h1><%= title %></h1>
<p>Welcome to <%= title %></p> -->
</body>
</html>